*{
    margin: 0;
    padding: 0;
}
.first{
    background-image: url('../images/photography.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex: none;
}
.first h1{
    color: rgb(1, 33, 43);
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-align: left;
    padding: 30px;
}
.about{
    width: 80%;
    margin: 30px auto;
    background-color: rgb(247, 242, 237);
    padding: 20px;
    border: 3px solid gray;
    box-shadow: -7px -7px 5px rgb(61, 43, 43);
}
.about h2{
    color: darkolivegreen;
     
    border-width: 3px; 
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: brown;
    border-style: solid;
    box-shadow: 2px 2px 5px;
    padding-bottom: 5px;
}
.about p{
    padding-top: 20px;
}
.about p #important{
    /* px,er,rem...size hote pare */
    font-size: 2em;
    color: brown;
}